body {
    background-image: url("/image");
    background-size: cover;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50pt;
    position:flexbox;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    position:flexbox;
    text-align: center;
}

form {
    position:flexbox;
    text-align: center;
}

.bodyText {
    margin:10px;
}
.bodyContent {
    background-color: aqua;
    filter:opacity(80%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    border-radius: 40px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    font-variant-caps: small-caps;
    text-align: center;
    font-weight: bolder;
}

body {
    margin:50px;
}